##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}VO")
#set($daoPackage="${package}.service.impl")
#set($daoClassName="${entity.pcName}DAO")
#set($daoName="${entity.ccName}DAO")
#set($servicePackage="${package}.service")
#set($serviceClassName="${entity.pcName}Service")
##
##
#set($insertMethodName="insert")
#set($updateMethodName="update")
#set($deleteMethodName="delete")
#set($selectMethodName="select")
#set($selectListMethodName="selectList")
#set($selectListTotCntMethodName="selectListCount")
##
##
package $servicePackage;

import java.util.List;

import egovframework.rte.psl.dataaccess.util.EgovMap;

/**
 * <pre>
 * &#64;Class Name : ${serviceClassName}.java
 * &#64;Description : ${entity.pcName} Business class
 * &#64;Modification Information
 * &#64;
 * &#64;  수정일         수정자                   수정내용
 * &#64; -------    --------    ---------------------------
 * &#64; ${createDate}    ${author}          최초 생성
 *
 *  &#64;author 실행환경 개발팀 ${author}
 *  &#64;since ${createDate}
 *  &#64;version 1.0
 *  &#64;see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 * </pre>
 */
public interface $serviceClassName {

	/**
	 * ${entity.name} ${entity.tableComments}을 등록한다.
	 *
	 * @param vo - 등록할 정보가 담긴 $voClassName
	 * @return 등록 결과
	 */
	String $insertMethodName($voClassName vo);

	/**
	 * ${entity.name} ${entity.tableComments}을 수정한다.
	 *
	 * @param vo - 수정할 정보가 담긴 $voClassName
	 * @return void형
	 */
	int $updateMethodName($voClassName vo);

	/**
	 * ${entity.name} ${entity.tableComments}을 삭제한다.
	 *
	 * @param vo - 삭제할 정보가 담긴 $voClassName
	 * @return void형
	 */
	int $deleteMethodName($voClassName vo);

	/**
	 * ${entity.name} ${entity.tableComments}을 조회한다.
	 *
	 * @param vo - 조회할 정보가 담긴 $voClassName
	 * @return 조회한 ${entity.name}
	 */
	$voClassName $selectMethodName($voClassName vo);

	/**
	 * ${entity.name} ${entity.tableComments} 목록을 조회한다.
	 *
	 * @param searchVO - 조회할 정보가 담긴 VO
	 * @return ${entity.name} 목록
	 */
	List<EgovMap> $selectListMethodName($voClassName vo);

	/**
	 * ${entity.name} ${entity.tableComments} 총 갯수를 조회한다.
	 *
	 * @param searchVO - 조회할 정보가 담긴 VO
	 * @return ${entity.name} 총 갯수
	 */
	int $selectListTotCntMethodName($voClassName vo);

}
