##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}")
##
##
package $voPackage;

import java.time.LocalDateTime;

import egovframework.com.cmm.ComDefaultVO;

/**
 * <pre>
 * &#64;Class Name : ${voClassName}.java
 * &#64;Description : ${entity.pcName} class
 * &#64;Modification Information
 * &#64;
 * &#64;  수정일         수정자                   수정내용
 * &#64; -------    --------    ---------------------------
 * &#64; ${createDate}    ${author}          최초 생성
 *
 *  &#64;author 실행환경 개발팀 ${author}
 *  &#64;since ${createDate}
 *  &#64;version 1.0
 *  &#64;see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 * </pre>
 */
@SuppressWarnings("serial")
public class ${voClassName} extends ComDefaultVO {

#set($i=0)	
#foreach($attribute in $attributes)
	/** ${attribute.columnComments} */
	private ${attribute.javaType} ${attribute.ccName};

#set($i=$i+1)
#end
##
#set($i=0)	
#foreach($attribute in $attributes)
	/**
	 * ${attribute.columnComments}
	 *
	 * @return
	 */
	public ${attribute.javaType} get${attribute.pcName}() {
		return this.${attribute.ccName};
	}

	/**
	 * ${attribute.columnComments}
	 *
	 * @param ${attribute.ccName}
	 */
	public void set${attribute.pcName}(${attribute.javaType} ${attribute.ccName}) {
		this.${attribute.ccName} = ${attribute.ccName};
	}

#set($i=$i+1)
#end  
}
