##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}VO")
##
##
package $voPackage;

import java.time.LocalDateTime;
import java.util.List;

/**
 * <pre>
 * &#64;Class Name : ${voClassName}.java
 * &#64;Description : ${entity.pcName} VO class
 * &#64;Modification Information
 * &#64;
 * &#64;  수정일         수정자                   수정내용
 * &#64; -------    --------    ---------------------------
 * &#64; ${createDate}    ${author}          최초 생성
 *
 *  &#64;author 실행환경 개발팀 ${author}
 *  &#64;since ${createDate}
 *  &#64;version 1.0
 *  &#64;see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 * </pre>
 */
@SuppressWarnings("serial")
public class ${voClassName} extends ${entity.pcName} {

#set($i=0)	
#foreach($attribute in $attributes)
	/** ${attribute.columnComments} */
	private List<${attribute.javaType}> ${attribute.ccName}s;

#set($i=$i+1)
#end
##
#set($i=0)	
#foreach($attribute in $attributes)
	/**
	 * ${attribute.columnComments}
	 *
	 * @return
	 */
	public List<${attribute.javaType}> get${attribute.pcName}s() {
		return this.${attribute.ccName}s;
	}

	/**
	 * ${attribute.columnComments}
	 *
	 * @param ${attribute.ccName}s
	 */
	public void set${attribute.pcName}(List<${attribute.javaType}> ${attribute.ccName}s) {
		this.${attribute.ccName}s = ${attribute.ccName}s;
	}

#set($i=$i+1)
#end  
}
