##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}")
##
##
package $voPackage;

import java.time.LocalDateTime;

import egovframework.com.cmm.ComDefaultVO;

/**
 * @Class Name : ${voClassName}.java
 * @Description : ${entity.pcName} class
 * @Modification Information
 * @
 * @  수정일         수정자                   수정내용
 * @ -------    --------    ---------------------------
 * @ ${createDate}    ${author}          최초 생성
 *
 *  @author 실행환경 개발팀 ${author}
 *  @since ${createDate}
 *  @version 1.0
 *  @see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 */
@SuppressWarnings("serial")
public class ${voClassName} extends ComDefaultVO {

#set($i=0)	
#foreach($attribute in $attributes)
	/** ${attribute.columnComments} */
	private ${attribute.javaType} ${attribute.ccName};

#set($i=$i+1)
#end
##
#set($i=0)	
#foreach($attribute in $attributes)
	/**
	 * ${attribute.columnComments}
	 *
	 * @return
	 */
	public ${attribute.javaType} get${attribute.pcName}() {
		return this.${attribute.ccName};
	}

	/**
	 * ${attribute.columnComments}
	 *
	 * @param occrrncDe
	 */
	public void set${attribute.pcName}(${attribute.javaType} ${attribute.ccName}) {
		this.${attribute.ccName} = ${attribute.ccName};
	}

#set($i=$i+1)
#end  
}
