##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}VO")
#set($daoPackage="${package}.service.impl")
#set($daoClassName="${entity.pcName}DAO")
#set($daoName="${entity.ccName}DAO")
#set($daoInstanceName="${entity.ccName}DAO")
##
##
#set($namespace="$daoPackage.${entity.pcName}Mapper")
#set($resultMapId="resultMap${entity.pcName}")
#set($resultMapClass="${voPackage}.${voClassName}")
##
##
#set($insertQueryId="insert${entity.pcName}")
#set($updateQueryId="update${entity.pcName}")
#set($deleteQueryId="delete${entity.pcName}")
#set($selectQueryId="select${entity.pcName}")
#set($selectListQueryId="select${entity.pcName}List")
#set($selectListTotCntQueryId="select${entity.pcName}ListCount")
##
##
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="$namespace">

## --------------------------------------------------------------------------------------------------------
##	<typeAlias  alias="egovMap" type="egovframework.rte.psl.dataaccess.util.EgovMap"/>
##	<typeAlias  alias="searchVO" type="egovframework.rte.cmmn.SampleDefaultVO"/>
##
## --------------------------------------------------------------------------------------------------------
	<resultMap id="$resultMapId" type="$resultMapClass">
#set($i=0)	
#foreach($attribute in $attributes)
#set($i=$i+1)	
		<result property="${attribute.ccName}" column="${attribute.name}" /> <!-- ${attribute.columnComments} -->
#end		
	</resultMap>
	
## ##################################################################################################
	<insert id="${insertQueryId}">
<![CDATA[
/* ${insertQueryId} */
INSERT INTO ${entity.tableName} ( /* ${entity.tableComments} */
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
       ${attribute.name} /* ${attribute.columnComments} */
#elseif($i < ($attributes.size() - 1))
     , ${attribute.name} /* ${attribute.columnComments} */
#else
     , ${attribute.name} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end
##
)
VALUES (
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
        #{${attribute.ccName}}
#elseif($i < ($attributes.size() - 1))
     , #{${attribute.ccName}} /* ${attribute.columnComments} */
#else
     , #{${attribute.ccName}} ) /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>
	</insert>

## ##################################################################################################	
	<update id="${updateQueryId}">
<![CDATA[
/* ${updateQueryId} */
UPDATE ${entity.tableName} SET /* ${entity.tableComments} */
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
       ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#else
     , ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end	
##		
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
 WHERE ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#else
   AND ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>
	</update>

## ##################################################################################################
	<delete id="${deleteQueryId}">
<![CDATA[
/* ${deleteQueryId} */
DELETE FROM ${entity.tableName} /* ${entity.tableComments} */
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
 WHERE ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#else
   AND ${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>
	</delete>

## ##################################################################################################	
	<select id="${selectQueryId}" parameterType="$resultMapClass" resultMap="$resultMapId">
<![CDATA[
/* ${selectQueryId} */
SELECT
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
       A.${attribute.name} /* ${attribute.columnComments} */
#else
     , A.${attribute.name} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end				
  FROM ${entity.tableName} A /* ${entity.tableComments} */
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
 WHERE A.${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#else
   AND A.${attribute.name} = #{${attribute.ccName}} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>

#foreach($attribute in $primaryKeys)
		<if test="${attribute.ccName} != null">
<![CDATA[
   AND A.${attribute.name} = #{${attribute.ccName}} /* $!{attribute.columnComments} */
]]>
		</if>
#end

	</select>

## ##################################################################################################	
	<select id="${selectListQueryId}" parameterType="$resultMapClass" resultType="egovMap">
<![CDATA[
SELECT * FROM ( SELECT ROWNUM RN, TB.* FROM (
SELECT /*+ INDEX_DESC(A A_PK) */
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
       ${attribute.name} /* ${attribute.columnComments} */
#else
     , ${attribute.name} /* ${attribute.columnComments} */
#end
#set($i=$i+1)
#end	
  FROM ${entity.tableName} A /* ${entity.tableComments} */
WHERE 1 = 1
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#else
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>

#foreach($attribute in $primaryKeys)
		<if test="${attribute.ccName} != null">
<![CDATA[
   AND A.${attribute.name} = #{${attribute.ccName}} /* $!{attribute.columnComments} */
]]>
		</if>

#end
<![CDATA[
-- ORDER BY
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
--       A.${attribute.name} /* $!{attribute.columnComments} */
#else
--     , A.${attribute.name} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
) TB ) WHERE rn BETWEEN #{firstIndex} + 1 AND #{firstIndex} + #{recordCountPerPage}
]]>
	</select>

## ##################################################################################################	
	<select id="${selectListTotCntQueryId}" parameterType="$resultMapClass" resultType="int">
<![CDATA[
SELECT COUNT(*) COUNT
  FROM ${entity.tableName} A /* ${entity.tableComments} */
 WHERE 1 = 1
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#else
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
]]>

#foreach($attribute in $primaryKeys)
		<if test="${attribute.ccName} != null">
<![CDATA[
   AND A.${attribute.name} = #{${attribute.ccName}} /* $!{attribute.columnComments} */
]]>
		</if>
#end

	</select>

</mapper>
