/*
A, B, C
L, M, N
X, Y, Z
*/	
/* select${entity.pcName}List */
SELECT * FROM ( SELECT ROWNUM RN, TB.* FROM (
SELECT /*+ INDEX_DESC(A A_PK) */
#set($i=0)	
#foreach($attribute in $attributes)
#if($i == 0)
       A.${attribute.name} /* $!{attribute.columnComments} */
#else
     , A.${attribute.name} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end	
  FROM ${entity.name} A /* $!{entity.tableComments} */
 WHERE 1 = 1
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#else
--   AND A.${attribute.name} = ${attribute.values} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
-- ORDER BY
#set($i=0)	
#foreach($attribute in $primaryKeys)
#if($i == 0)
--       A.${attribute.name} /* $!{attribute.columnComments} */
#else
--     , A.${attribute.name} /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
) TB ) WHERE rn BETWEEN 0 + 1 AND 0 + 10
--) TB ) WHERE rn BETWEEN 1 + 1 AND 1 + 10
;
