/*
A, B, C
L, M, N
X, Y, Z
*/

/* $team, $!{entity.tableComments}, $author */
SELECT /* select${entity.pcName}ListCount */
       COUNT(*) AS COUNT
  FROM ${entity.name} A  /* $!{entity.tableComments} */
 WHERE 1 = 1
#set($i=0)
#foreach($attribute in $attributes)
#if($i == 0)
--   AND A.${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#else
--   AND A.${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
;
