/* $team, $!{entity.tableComments}, $author */
UPDATE /* update${entity.pcName} */
       ${entity.name}  /* $!{entity.tableComments} */
#set($i=0)
#foreach($attribute in $attributes)
#if( $attribute.pk != "Y" )
#if($i == 0)
   SET ${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#else
     , ${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
#end
##
#set($i=0)
#foreach($attribute in $primaryKeys)
#if($i == 0)
 WHERE ${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#else
   AND ${attribute.name} = ${attribute.values}  /* $!{attribute.columnComments} */
#end
#set($i=$i+1)
#end
;
