##
#set($voPackage="${package}.service")
#set($voClassName="${entity.pcName}VO")
#set($daoPackage="${package}.service.impl")
#set($daoClassName="${entity.pcName}Mapper")
#set($daoName="${entity.ccName}DAO")
#set($daoInstanceName="mapper")
#set($servicePackage="${package}.service")
#set($serviceClassName="${entity.pcName}Service")
#set($serviceImplPackage="${package}.service.impl")
#set($serviceImplClassName="${entity.pcName}ServiceImpl")
#set($serviceName="${entity.ccName}Service")
##
#set($egovIdGnrServiceInstanceName="egovFileIdGnrService")
##
#set($insertMethodName="insert")
#set($updateMethodName="update")
#set($deleteMethodName="delete")
#set($selectMethodName="select")
#set($selectListMethodName="selectList")
#set($selectListTotCntMethodName="selectListCount")
##
##
#set($insertMethodName2="insert${entity.pcName}")
#set($updateMethodName2="update${entity.pcName}")
#set($deleteMethodName2="delete${entity.pcName}")
#set($selectMethodName2="select${entity.pcName}")
#set($selectListMethodName2="select${entity.pcName}List")
#set($selectListTotCntMethodName2="select${entity.pcName}ListCount")
##
##
package ${serviceImplPackage};

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.stereotype.Service;

import egovframework.rte.fdl.cmmn.EgovAbstractServiceImpl;
import egovframework.rte.fdl.cmmn.exception.FdlException;
import egovframework.rte.fdl.idgnr.EgovIdGnrService;
import egovframework.rte.psl.dataaccess.util.EgovMap;
import ${servicePackage}.${serviceClassName};
import ${servicePackage}.${voClassName};


/**
 * <pre>
 * &#64;Class Name : ${serviceImplClassName}.java
 * &#64;Description : ${entity.pcName} Business Implement class
 * &#64;Modification Information
 * &#64;
 * &#64;  수정일         수정자                   수정내용
 * &#64; -------    --------    ---------------------------
 * &#64; ${createDate}    ${author}          최초 생성
 *
 *  &#64;author 실행환경 개발팀 ${author}
 *  &#64;since ${createDate}
 *  &#64;version 1.0
 *  &#64;see
 *  
 *  Copyright (C) 2009 by MOSPA  All right reserved.
 * </pre>
 */

@Service
public class ${serviceImplClassName} extends EgovAbstractServiceImpl implements ${serviceClassName} {

	@Autowired
	private ${daoClassName} ${daoInstanceName};

	@Autowired
	@Qualifier("${egovIdGnrServiceInstanceName}")
	private EgovIdGnrService ${egovIdGnrServiceInstanceName};

	/**
	 * ${entity.name} ${entity.tableComments}을 등록한다.
	 *
	 * @param vo - 등록할 정보가 담긴 ${voClassName}
	 * @return 등록 결과
	 * @exception Exception
	 */
	public String ${insertMethodName}(${voClassName} vo) {
		egovLogger.debug(vo.toString());

		String id = null;
		try {
			id = ${egovIdGnrServiceInstanceName}.getNextStringId();
		} catch (FdlException e) {
			egovLogger.error(e.getLocalizedMessage());
		}
		// vo.setId(id);
		egovLogger.debug("vo={}", vo);

		${daoInstanceName}.${insertMethodName2}(vo);
		return id;
	}

	/**
	 * ${entity.name} ${entity.tableComments}을 수정한다.
	 *
	 * @param vo - 수정할 정보가 담긴 ${voClassName}
	 * @return void형
	 * @exception Exception
	 */
	public int ${updateMethodName}(${voClassName} vo) {
		return ${daoInstanceName}.${updateMethodName2}(vo);
	}

	/**
	 * ${entity.name} ${entity.tableComments}을 삭제한다.
	 *
	 * @param vo - 삭제할 정보가 담긴 ${voClassName}
	 * @return void형 
	 * @exception Exception
	 */
	public int ${deleteMethodName}(${voClassName} vo) {
		return ${daoInstanceName}.${deleteMethodName2}(vo);
	}

	/**
	 * ${entity.name} ${entity.tableComments}을 조회한다.
	 *
	 * @param vo - 조회할 정보가 담긴 ${voClassName}
	 * @return 조회한 ${entity.name}
	 * @exception Exception
	 */
	public ${voClassName} ${selectMethodName}(${voClassName} vo) {
		${voClassName} result = ${daoInstanceName}.${selectMethodName2}(vo);
//		if (result == null)
//			throw processException("info.nodata.msg");
		return result;
	}

	/**
	 * ${entity.name} ${entity.tableComments} 목록을 조회한다.
	 *
	 * @param searchVO - 조회할 정보가 담긴 VO
	 * @return ${entity.name} 목록
	 * @exception Exception
	 */
	public List<EgovMap> ${selectListMethodName}(${voClassName} vo) {
		return ${daoInstanceName}.${selectListMethodName2}(vo);
	}

	/**
	 * ${entity.name} ${entity.tableComments} 총 갯수를 조회한다.
	 *
	 * @param searchVO - 조회할 정보가 담긴 VO
	 * @return ${entity.name} 총 갯수
	 * @exception
	 */
	public int ${selectListTotCntMethodName}(${voClassName} vo) {
		return ${daoInstanceName}.${selectListTotCntMethodName2}(vo);
	}

}
